{% extends 'base.html.twig' %}

{% block body %}
    <div style="font-family: Arial, sans-serif; background-color: #f0f0f0; justify-content: center; align-items: center; width: 100%; margin: 0;">
        <div style="background-color: #ffffff; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); padding: 20px; text-align: center;">
            <h1 style="color: #333333; margin-top: 0;">{{ user.name }}, gracias por tu compra</h1>
            <p style="color: #666666;">Hemos visto que acabas de hacer tu primera compra con nosotros. ¡Qué felicidad!</p>
            <img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/2100545284/original/wEoHNm3YHs8UnDWRm95e22HNz_gxmSP1jA.png?1486368694" alt="Cupón"/>
        </div>
    </div>
{% endblock %}