{% extends 'base.html.twig' %}

{% block body %}

    <div style="font-family: Arial, sans-serif; background-color: #f0f0f0; justify-content: center; align-items: center; width: 100%; margin: 0;">
        <div style="background-color: #ffffff; border-radius: 10px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); padding: 20px; text-align: center;">
            <h1 style="color: #333333; margin-top: 0;">Bienvenido/a</h1>
            <p style="color: #666666;">¡Nos alegra tenerte aquí! Esperamos que disfrutes de tu tiempo con nosotros.</p>
            <img src="https://t4.ftcdn.net/jpg/04/46/40/87/360_F_446408796_sO3c3ZIuWMgvXNbfXM4Hyqt7pLtGzKQo.jpg"/>
        </div>
    </div>

{% endblock %}